[submodule "lib-externes/DelphiBooks-WebSite"]
	path = lib-externes/DelphiBooks-WebSite
	url = https://github.com/DeveloppeurPascal/DelphiBooks-WebSite.git
[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "lib-externes/DeepL4Delphi"]
	path = lib-externes/DeepL4Delphi
	url = https://github.com/DeveloppeurPascal/DeepL4Delphi.git
